body {
    font-family: 'Comic Neue', cursive;
    background-color: lightgray;
}


h2,p,.readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

span {
    color: purple;
    font-weight: bold;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    width: 30em;
    display: block;
}

#box1 {
    background-color: blueviolet;
}

#box2 {
    background-color: coral;
    /* position: absolute;
    bottom: 156px;
    left: 568px; */
}

#box3 {
    background-color: darkturquoise;
}

#box4 {
    background-color: springgreen;
}

.imgDiv {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    left: 170px;
    margin-top: 10px;
}

h1 {
    color: purple;
}

.original {
color: royalblue;
}

.additional {
color: tomato;
}


#show1 {
color: peru;
}

#show2 {
color: pink;
}

#show3{
color: plum;
} 

#show4 {
color: powderblue;
}

#show5 {
color: salmon;
} 

ul {
    color: blueviolet;
}

.star {
    color: crimson;
}


#wars{
    color: black;
}

.listDiv {
    border: 2px solid black;
}